

html{
  scroll-behavior: smooth;
}
body{
  overflow-x:hidden;
   background: linear-gradient(to right , #051937, #004d7a, #008793, #00bf72) !important;
}
.header
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: white;
}
.header1
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-top: 20px;
  height: 10vh;
  width: 100vw;
  margin: 1rem;
}
.colorbtn
{
  color: rgb(33, 8, 57);
  cursor: pointer;
}
.brandlogo {
  font-family: 'VALORANT', sans-serif;
  font-size: 3rem!important;
background: #00bf72;
background: radial-gradient(
  circle farthest-corner at top center,
  #00bf72 43%,
  #94e8e0 100%,
  #160abf 59%
);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: bold;
}