.contributecontainer{
    width: 100vw;
    display: flex;
    
}

.createPost{
   
    position: fixed;
    justify-content: center;
    color: #fff;
    margin: 0.7rem;
    z-index: 2;
}


.Feed{
    width:100%;
    margin-left: auto;
}

.card{
   width:80%;
    background-color: #fff;
}

@media screen and (max-width: 776px ){
 
 .Feed{
    width:80%;
 }   
}